#menuLateral {
    width: 175px;
    display: block;
    background-image: url("/../../assets/img/ciudadLogin.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    position: absolute;
    top: 0px;
    color: black;
    border-right: solid 1px black;
}

.item {
    cursor: pointer;
    width: 100%;
    padding-left: 15px;
    height: 35px;
}

.datosInfor {
    position: absolute;
    right: 0px;
    background-image: url("/../../assets/img/ciudadLogin.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    border-bottom: solid 1px black;
    box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.349);
    height: 50px;
    width: calc(100% - 175px);
    top: 0px;
}

button.btn.btn-primary {
    position: absolute;
    right: 0px;
    width: 150px;
    color: white;
    background: black;
    height: 43px;
    border-radius: 10px;
    top: 3px;
    border: none;
}

.logo img{
    display: flex;
    margin: auto;
    height: 50px;
    margin-top: 10px;
    margin-bottom: 20px;
}