.container-logo{
    background: white;
    height: 110px;
    display: flex;
    align-items: center;
    margin-top: 75px;
}

.container-logo img{
    width: 140px;
    margin: auto;
}

#titulo {
    border-bottom: 1px solid rgba(0, 0, 0, 0.349);
    border-radius: 5px 1px 1px 5px;
    width: 540px;
    text-align: left;
    position: absolute;
    right: 0px;
    margin-top: 20px;
    padding-top: 6px;
    
}

#titulo h2{
    color: black;
    font-family: 'Sofia Sans Condensed', sans-serif;
    font-weight: 800;
    font-size: 45px;
}

.container{
    margin-top: 95px;
}

#contenedorProductos{
    display: flex;
    text-align: center;
    font-family: 'Sofia Sans Condensed', sans-serif;
}

#cardProduct{
    margin: auto;
    margin-top: 20px;
    margin-bottom: 30px;
    transition: 1s;
}

#cardProduct:hover{
    transform: scale(1.1);
    box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.349);
}

.card-body h5{
    font-size: 23px;
}

#colBoton {
    display: flex;
    justify-content: space-evenly;
}

#colBoton a{
    border: none;
    background: none;
    color: black;
}

#colBoton a:hover{
    background: black;
    color: white;
    box-shadow: 1px 1px 2px 1px rgba(0, 0, 0, 0.349);
    
}


#cSecundario{
    background-image: url("/../../assets/img/Ciudad1.png");
    background-size: cover;
    background-repeat: no-repeat;
    margin-bottom: 1px;
    text-align: center;
    margin-top: 30px;
}

#rowSecundario{
    width: 100%;
    display: flex;
    height: 100%;
}

#caja{
    margin: auto;
    
    border-left: solid 2px white;
}


#cSecundario i{
    font-size: 100px;
    color: white;
}

#cSecundario p{
    font-size: 20px;
    color: white;
    font-family: 'Sofia Sans Condensed', sans-serif;
}