.container-logo{
    background: white;
    height: 110px;
    display: flex;
    align-items: center;
    margin-top: 75px;
}

.container-logo img{
    width: 140px;
    margin: auto;
}

#cPrincipal{
    font-family: 'Sofia Sans Condensed', sans-serif;
    font-size: 20px;
    text-align: center;
    height: 100%;
    margin-top: 40px;
    display: block;
    align-items: center;
}

.card{
    margin-left: 10px;
    border: none;
    width: 270px;
    height: 350px;
    border-radius: 5px;
    padding-top: 0px;
    margin-top: 20px;
    transition: 1s;
}

.card:hover{
    transform: scale(1.1);
    box-shadow: 1px 1px 2px 1px rgba(28, 28, 28, 0.345);
}

.imgP1{
    height: 200px;
    width: 200px;
}

.card-body h5{
    margin-top: 10px;
    font-family: 'Sofia Sans Condensed', sans-serif;
    font-size: 20px;
}

.card-body p{
    font-family: 'Sofia Sans Condensed', sans-serif;
    font-size: 15px;
}

.card-body a{
    font-family: 'Sofia Sans Condensed', sans-serif;
    font-size: 12px;
    background-color: black;
    box-shadow: 0px 8px 32px rgba(0, 0, 0, 0.737);
    border: none;
}

#cSecundario{
    background-image: url("/../../assets/img/Ciudad1.png");
    background-size: cover;
    background-repeat: no-repeat;
    height: 250px;
    display: block;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
    display: block;
    align-items: center;
}

#caja{
    margin: auto;
    margin-top: 30px;
    width: 10px;
    border-left: solid 2px white;
}


#cSecundario i{
    font-size: 100px;
    color: white;
}

#cSecundario p{
    font-size: 20px;
    color: white;
    font-family: 'Sofia Sans Condensed', sans-serif;
}

