<div class="container-fluid" id="contenedor">
    <div class="container-logo">
        <img src="/../../assets/img/logoByG.jpg" alt="logoByG">
    </div>

    <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active"
                aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1"
                aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2"
                aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src="/../../assets/img/Carrusel1.png" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="/../../assets/img/Carrusel2.png" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
                <img src="/../../assets/img/Carrusel3.png" class="d-block w-100" alt="...">
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions"
            data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions"
            data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
    <div class="container-fluid w-100" id="cPrincipal">
        <h2>Productos más vendidos</h2>
        <div class="row">
            <div class="col-12 col-sm-6 col-md-6 col-lg-3 col-xl-3 my-2">
                <div class="card">
                    <div class="card-body">
                        <img class="imgP1" src="/../../assets/img/CropTop1.jpeg" alt="">
                        <h5 class="card-title">Pantalon - Bota campana</h5>
                        <p class="card-text">$50.000</p>
                        <a href="./precios.html" class="btn btn-primary">Agregar al carrito</a>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-6 col-md-6 col-lg-3 col-xl-3 my-2">
                <div class="card">
                    <div class="card-body">
                        <img class="imgP1" src="/../../assets/img/CropTop2.jpeg" alt="">
                        <h5 class="card-title">Croptop - Basico</h5>
                        <p class="card-text">$50.000</p>
                        <a href="./precios.html" class="btn btn-primary">Agregar al carrito</a>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-12 col-md-6 col-lg-3 col-xl-3 my-2">
                <div class="card">
                    <div class="card-body">
                        <img class="imgP1" src="/../../assets/img/CropTop3.jpeg" alt="">
                        <h5 class="card-title">Crop Top - Manga larga</h5>
                        <p class="card-text">$50.000</p>
                        <a href="./login.html" class="btn btn-primary">Agregar al carrito</a>
                    </div>
                </div>
            </div>
            <div class="col-12 col-sm-12 col-md-6 col-lg-3 col-xl-3 my-2">
                <div class="card">
                    <div class="card-body">
                        <img class="imgP1" src="/../../assets/img/CropTop4.jpeg" alt="">
                        <h5 class="card-title">Crop Top - Manga corta</h5>
                        <p class="card-text">$50.000</p>
                        <a href="#" class="btn btn-primary">Agregar al carrito</a>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-sm-12 col-md-6 col-lg-3 col-xl-3 my-2">
                    <div class="card">
                        <div class="card-body">
                            <img class="imgP1" src="/../../assets/img/CropTop5.jpeg" alt="">
                            <h5 class="card-title">Sudaderas</h5>
                            <p class="card-text">$50.000</p>
                            <a href="#" class="btn btn-primary">Agregar al carrito</a>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-12 col-md-6 col-lg-3 col-xl-3 my-2">
                    <div class="card">
                        <div class="card-body">
                            <img class="imgP1" src="/../../assets/img/CropTop6.jpeg" alt="">
                            <h5 class="card-title">Corset Gamusa - Encaje</h5>
                            <p class="card-text">$50.000</p>
                            <a href="#" class="btn btn-primary">Agregar al carrito</a>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-12 col-md-6 col-lg-3 col-xl-3 my-2">
                    <div class="card">
                        <div class="card-body">
                            <img class="imgP1" src="/../../assets/img/CropTop7.jpeg" alt="">
                            <h5 class="card-title">Crop Top - Encaje</h5>
                            <p class="card-text">$50.000</p>
                            <a href="#" class="btn btn-primary">Agregar al carrito</a>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-sm-12 col-md-6 col-lg-3 col-xl-3 my-2">
                    <div class="card">
                        <div class="card-body">
                            <img class="imgP1" src="/../../assets/img/CropTop8.jpeg" alt="">
                            <h5 class="card-title">Crop Top - Ombliguero</h5>
                            <p class="card-text">$50.000</p>
                            <a href="#" class="btn btn-primary">Agregar al carrito</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid" id="cSecundario">
        <div class="row">
            <div class="col" id="caja">
                <i class="bi bi-truck"></i>
                <p>Envíos nacionales</p>
            </div>
            <div class="col" id="caja">
                <i class="bi bi-cash-coin"></i>
                <p>Pagos contra entrega</p>
            </div>
            <div class="col" id="caja">
                <i class="bi bi-credit-card"></i>
                <p>Diferentes métodos de pago</p>
            </div>
        </div>
    </div>

</div>