#contenedor-login{
    background-image: url("/../../assets/img/ciudadLogin.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    margin-top: 78px;
    display: block;
    padding-top: 10px;
}

.container{
    margin: auto;
    margin-top: 50px;
    background: rgba(0, 0, 0, 0.466);
    border-radius: 5px;
}

h2{
    color: white;
    font-family: 'Sofia Sans Condensed', sans-serif;

}

label{
    color: white;
    font-family: 'Sofia Sans Condensed', sans-serif;;
}

button{
    font-family: 'Sofia Sans Condensed', sans-serif;
    font-size: 15px;
    background: black;
    border: none;
}

button:hover{
    background: white;
    color: black;
}

span{
    color: white;
}

a{
    color: white;
}