<app-menu></app-menu>

<div id="contenedor-login">
  <div class="container w-50">
    <div class="row">
      <div class="columna2 col-12">
        <h2 class="fw-bold text-center pt-3 mb-3">Bienvenido</h2>
        <div>
          <div class="mb-2">
            <label for="email" class="form-label">Correo electrónico</label>
            <input type="email" class="form-control" [(ngModel)]="Email">
          </div>
          <div class="mb-2">
            <label for="password" class="form-label">Contraseña</label>
            <input type="password" class="form-control" [(ngModel)]="Password">
          </div>
          <div class="mb-2 form-check">
            <input type="checkbox" name="conectado" class="form-check-input">
            <label for="conectado" class="form-check-label">Mantener sesión abierta</label>
          </div>
          <div class="d-grid">
            <button type="submit" class="btn btn-primary" (click)="iniciarSesion()">Iniciar sesión</button>
          </div>

          <div class="d-grid">
            <button type="submit" class="btn btn-primary" (click)="verCookie()">Cookie</button>
          </div>
          <div class="mt-2 mb-2">
            <span>¿No tienes cuenta?<a routerLink="/Registro">Regístrate</a></span><br>
            <span><a href="#">Recuperar contraseña</a></span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>