<app-menu></app-menu>
<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
            <div class="card" style="width: 18rem;">
                <a href=""><img src="/../../assets/img/CropTop2.jpeg" class="card-img-top" alt="..."></a>
                <div class="card-body">
                    <p>PANTALONES</p>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
            <div class="card" style="width: 18rem;">
                <a href=""><img src="/../../assets/img/CropTop2.jpeg" class="card-img-top" alt="..."></a>
                <div class="card-body">
                    <p>TOPS</p>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
            <div class="card" style="width: 18rem;">
                <a href=""><img src="/../../assets/img/CropTop2.jpeg" class="card-img-top" alt="..."></a>
                <div class="card-body">
                    <p>CROP TOPS</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
            <div class="card" style="width: 18rem;">
                <a href=""><a href=""><img src="/../../assets/img/CropTop2.jpeg" class="card-img-top" alt="..."></a></a>
                <div class="card-body">
                    <p>TOPS TEJIDOS</p>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
            <div class="card" style="width: 18rem;">
                <a href=""><img src="/../../assets/img/CropTop2.jpeg" class="card-img-top" alt="..."></a>
                <div class="card-body">
                    <p>SUDADERAS</p>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 col-xl-4">
            <div class="card" style="width: 18rem;">
                <a href=""><img src="/../../assets/img/CropTop3.jpeg" class="card-img-top" alt="..."></a>
                <div class="card-body">
                    <p>FALDAS</p>
                </div>
            </div>
        </div>
    </div>
    

</div>
<app-footer></app-footer>