<div class="container-fluid" id="cPrincipal">
    <div class="row">
        <div class="col-12 col-sm-12 col-md-6 col-lg-3 col-xl-3 my-2">
            <div class="card">
                <div class="card-body">
                    <img class="imgP1" src="/../../assets/img/CropTop8.jpeg" alt="">
                    <h5 class="card-title">Pantalon - Bota campana</h5>
                    <p class="card-text">$50.000</p>
                    <a href="./precios.html" class="btn btn-primary">Agregar al carrito</a>
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-12 col-md-6 col-lg-3 col-xl-3 my-2">
            <div class="card">
                <div class="card-body">
                    <img class="imgP1" src="/../../assets/img/CropTop8.jpeg" alt="">
                    <h5 class="card-title">Croptop - Basico</h5>
                    <p class="card-text">$50.000</p>
                    <a href="./precios.html" class="btn btn-primary">Agregar al carrito</a>
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-12 col-md-6 col-lg-3 col-xl-3 my-2">
            <div class="card">
                <div class="card-body">
                    <img class="imgP1" src="/../../assets/img/CropTop8.jpeg" alt="">
                    <h5 class="card-title">Crop Top - Manga larga</h5>
                    <p class="card-text">$50.000</p>
                    <a href="./login.html" class="btn btn-primary">Agregar al carrito</a>
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-12 col-md-6 col-lg-3 col-xl-3 my-2">
            <div class="card">
                <div class="card-body">
                    <img class="imgP1" src="/../../assets/img/CropTop8.jpeg" alt="">
                    <h5 class="card-title">Crop Top - Manga corta</h5>
                    <p class="card-text">$50.000</p>
                    <a href="#" class="btn btn-primary">Agregar al carrito</a>
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-12 col-md-6 col-lg-3 col-xl-3 my-2">
            <div class="card">
                <div class="card-body">
                    <img class="imgP1" src="/../../assets/img/CropTop8.jpeg" alt="">
                    <h5 class="card-title">Sudaderas</h5>
                    <p class="card-text">$50.000</p>
                    <a href="#" class="btn btn-primary">Agregar al carrito</a>
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-12 col-md-6 col-lg-3 col-xl-3 my-2">
            <div class="card">
                <div class="card-body">
                    <img class="imgP1" src="/../../assets/img/CropTop8.jpeg" alt="">
                    <h5 class="card-title">Corset Gamusa - Encaje</h5>
                    <p class="card-text">$50.000</p>
                    <a href="#" class="btn btn-primary">Agregar al carrito</a>
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-12 col-md-6 col-lg-3 col-xl-3 my-2">
            <div class="card">
                <div class="card-body">
                    <img class="imgP1" src="/../../assets/img/CropTop8.jpeg" alt="">
                    <h5 class="card-title">Crop Top - Encaje</h5>
                    <p class="card-text">$50.000</p>
                    <a href="#" class="btn btn-primary">Agregar al carrito</a>
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-12 col-md-6 col-lg-3 col-xl-3 my-2">
            <div class="card">
                <div class="card-body">
                    <img class="imgP1" src="/../../assets/img/CropTop8.jpeg" alt="">
                    <h5 class="card-title">Crop Top - Ombliguero</h5>
                    <p class="card-text">$50.000</p>
                    <a href="#" class="btn btn-primary">Agregar al carrito</a>
                </div>
            </div>
        </div><div class="col-12 col-sm-12 col-md-6 col-lg-3 col-xl-3 my-2">
            <div class="card">
                <div class="card-body">
                    <img class="imgP1" src="/../../assets/img/CropTop8.jpeg" alt="">
                    <h5 class="card-title">Crop Top - Ombliguero</h5>
                    <p class="card-text">$50.000</p>
                    <a href="#" class="btn btn-primary">Agregar al carrito</a>
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-12 col-md-6 col-lg-3 col-xl-3 my-2">
            <div class="card">
                <div class="card-body">
                    <img class="imgP1" src="/../../assets/img/CropTop8.jpeg" alt="">
                    <h5 class="card-title">Crop Top - Ombliguero</h5>
                    <p class="card-text">$50.000</p>
                    <a href="#" class="btn btn-primary">Agregar al carrito</a>
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-12 col-md-6 col-lg-3 col-xl-3 my-2">
            <div class="card">
                <div class="card-body">
                    <img class="imgP1" src="/../../assets/img/CropTop8.jpeg" alt="">
                    <h5 class="card-title">Crop Top - Ombliguero</h5>
                    <p class="card-text">$50.000</p>
                    <a href="#" class="btn btn-primary">Agregar al carrito</a>
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-12 col-md-6 col-lg-3 col-xl-3 my-2">
            <div class="card">
                <div class="card-body">
                    <img class="imgP1" src="/../../assets/img/CropTop8.jpeg" alt="">
                    <h5 class="card-title">Crop Top - Ombliguero</h5>
                    <p class="card-text">$50.000</p>
                    <a href="#" class="btn btn-primary">Agregar al carrito</a>
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-12 col-md-6 col-lg-3 col-xl-3 my-2">
            <div class="card">
                <div class="card-body">
                    <img class="imgP1" src="/../../assets/img/CropTop8.jpeg" alt="">
                    <h5 class="card-title">Crop Top - Ombliguero</h5>
                    <p class="card-text">$50.000</p>
                    <a href="#" class="btn btn-primary">Agregar al carrito</a>
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-12 col-md-6 col-lg-3 col-xl-3 my-2">
            <div class="card">
                <div class="card-body">
                    <img class="imgP1" src="/../../assets/img/CropTop8.jpeg" alt="">
                    <h5 class="card-title">Crop Top - Ombliguero</h5>
                    <p class="card-text">$50.000</p>
                    <a href="#" class="btn btn-primary">Agregar al carrito</a>
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-12 col-md-6 col-lg-3 col-xl-3 my-2">
            <div class="card">
                <div class="card-body">
                    <img class="imgP1" src="/../../assets/img/CropTop8.jpeg" alt="">
                    <h5 class="card-title">Crop Top - Ombliguero</h5>
                    <p class="card-text">$50.000</p>
                    <a href="#" class="btn btn-primary">Agregar al carrito</a>
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-12 col-md-6 col-lg-3 col-xl-3 my-2">
            <div class="card">
                <div class="card-body">
                    <img class="imgP1" src="/../../assets/img/CropTop8.jpeg" alt="">
                    <h5 class="card-title">Crop Top - Ombliguero</h5>
                    <p class="card-text">$50.000</p>
                    <a href="#" class="btn btn-primary">Agregar al carrito</a>
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-12 col-md-6 col-lg-3 col-xl-3 my-2">
            <div class="card">
                <div class="card-body">
                    <img class="imgP1" src="/../../assets/img/CropTop8.jpeg" alt="">
                    <h5 class="card-title">Crop Top - Ombliguero</h5>
                    <p class="card-text">$50.000</p>
                    <a href="#" class="btn btn-primary">Agregar al carrito</a>
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-12 col-md-6 col-lg-3 col-xl-3 my-2">
            <div class="card">
                <div class="card-body">
                    <img class="imgP1" src="/../../assets/img/CropTop8.jpeg" alt="">
                    <h5 class="card-title">Crop Top - Ombliguero</h5>
                    <p class="card-text">$50.000</p>
                    <a href="#" class="btn btn-primary">Agregar al carrito</a>
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-12 col-md-6 col-lg-3 col-xl-3 my-2">
            <div class="card">
                <div class="card-body">
                    <img class="imgP1" src="/../../assets/img/CropTop8.jpeg" alt="">
                    <h5 class="card-title">Crop Top - Ombliguero</h5>
                    <p class="card-text">$50.000</p>
                    <a href="#" class="btn btn-primary">Agregar al carrito</a>
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-12 col-md-6 col-lg-3 col-xl-3 my-2">
            <div class="card">
                <div class="card-body">
                    <img class="imgP1" src="/../../assets/img/CropTop8.jpeg" alt="">
                    <h5 class="card-title">Crop Top - Ombliguero</h5>
                    <p class="card-text">$50.000</p>
                    <a href="#" class="btn btn-primary">Agregar al carrito</a>
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-12 col-md-6 col-lg-3 col-xl-3 my-2">
            <div class="card">
                <div class="card-body">
                    <img class="imgP1" src="/../../assets/img/CropTop8.jpeg" alt="">
                    <h5 class="card-title">Crop Top - Ombliguero</h5>
                    <p class="card-text">$50.000</p>
                    <a href="#" class="btn btn-primary">Agregar al carrito</a>
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-12 col-md-6 col-lg-3 col-xl-3 my-2">
            <div class="card">
                <div class="card-body">
                    <img class="imgP1" src="/../../assets/img/CropTop8.jpeg" alt="">
                    <h5 class="card-title">Crop Top - Ombliguero</h5>
                    <p class="card-text">$50.000</p>
                    <a href="#" class="btn btn-primary">Agregar al carrito</a>
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-12 col-md-6 col-lg-3 col-xl-3 my-2">
            <div class="card">
                <div class="card-body">
                    <img class="imgP1" src="/../../assets/img/CropTop8.jpeg" alt="">
                    <h5 class="card-title">Crop Top - Ombliguero</h5>
                    <p class="card-text">$50.000</p>
                    <a href="#" class="btn btn-primary">Agregar al carrito</a>
                </div>
            </div>
        </div>
        <div class="col-12 col-sm-12 col-md-6 col-lg-3 col-xl-3 my-2">
            <div class="card">
                <div class="card-body">
                    <img class="imgP1" src="/../../assets/img/CropTop8.jpeg" alt="">
                    <h5 class="card-title">Crop Top - Ombliguero</h5>
                    <p class="card-text">$50.000</p>
                    <a href="#" class="btn btn-primary">Agregar al carrito</a>
                </div>
            </div>
        </div>
    </div>
</div>
