<div class="footer">
    <div class="row" id="rowOne">
        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 col-xl-4" id="colImg">
            <img src="/../../assets/img/logoByGN.jpg" alt="logoByG">
            <p>Moda urbana, estilo de vida. <br> ByG Urban - Tu tienda virtual de confianza para ropa de calidad.</p>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 col-xl-4" id="colIconos">
            <i class="bi bi-facebook"></i>
            <i class="bi bi-instagram"></i>
            <i class="bi bi-tiktok"></i>
        </div>
        <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4 col-xl-4" id="contacto">
            <app-contactenos></app-contactenos>
        </div>

    </div>
    <div class="row" id="reserva">
        <div class="col">
            <p>© 2023 ByG Urban. Todos los derechos reservados. Design By: Geraldine Romero</p>
        </div>
    </div>
</div>

