.footer{
    height: 350px;
    background-image: url("/../../assets/img/CiudadF.png");
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    margin-bottom: 0px;
}

.fondo{
    height: 175px;
    width: 100%;
    background: #181717;
    display: flex;
}

.fondo h3{
    margin-top: 20px;
    font-family: 'Sofia Sans Condensed', sans-serif;
    color: white;
    text-align: center;
}

.col{
    display: flex;
}

.col h4{
    margin: auto;
    color: white;
    font-size: 20px;
    text-align: center;
    font-family: 'Sofia Sans Condensed', sans-serif;
}

.col i{
    margin: auto;
    color: white;
    font-size: 60px;
    margin-top: 65px;
}