.footer{
    height: 100%;
    background: black;
}

#colImg{
    display: block;
    margin: auto;
    text-align: center;
}

#colImg img{
    width: 150px;
    height: 100px;
}

#colImg p{
    font-family: 'Sofia Sans Condensed', sans-serif;
    font-size: 15px;
    color: rgba(255, 255, 255, 0.537);
}

#colIconos{
    display: flex;
    font-size: 60px;
}

#colIconos i{
    margin:auto;
}

#colIconos i:hover{
    color: white;
    transform: scale(1.1);
}

#reserva{
    background: black;
    width: 100%;
    text-align: center;
    font-family: 'Sofia Sans Condensed', sans-serif;
    font-size: 15px;
}

